@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
font-family: "Press Start 2P";
background-color: #A3B0FF; 
margin: 0;
}

.banner {
  position: sticky;
  top: 0;
  padding-bottom: 24px;
  background: url(../src/img/fondopokemon.png) center center no-repeat;
  background-size: cover;
  justify-content: space-between;
  z-index: 1;
}

.img-title {
  display: flex;
  max-width: 280px;
  position: center;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 32px;
  padding-right: 1200px;
}

.btn-filter {
  background-color: #586CDD;
  font-family: 'Press Start 2P';
  color: white;
  padding: 20px;
  font-size: 12px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 1px solid black;
}

.despliegue {
  position: absolute;
  display: inline;
  padding-inline-start: 30%;
  top: 20%;
}

.despliegue-contenido {
  display: none;
  position: absolute;
  background-color: #f5f10c;
  min-width: 160px;
}

.despliegue-contenido a {
  margin: 5px;
  padding: 3px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.despliegue-contenido a:hover {
  background-color: #ffcc00;
  color: black;
}


.contenedor {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  flex-wrap: wrap;
  gap: 5%;
  z-index: 0;
  
}
.front,
.back {
  border-width: 10px;
  padding: 10px;
  border: 6px double #230c2e;
  margin: 30px 20px;
  border-radius: 20px;
  gap: 15px;
  text-align: center;
  align-items: center;
  margin-right: 30px;
  height: 40vh;
  background: url(../src/img/fondo_tarjeta.png);
  display: flex;
  flex-direction: column;
}


.front h2 {
  margin: 5px;
  text-align: center;
  font-size: 20px;
  color: #230c2e;
}

.front img {
  width: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
.card div {
  display: flex;
  backface-visibility: hidden;
  transition: all 0.3s cubic-bezier(0.1, 0.22, 0.8, 1.13);
}

.card .front {
  width: 20vh;
  margin-top: 10px;
  margin-bottom: 1px;
  transform: perspective(200px) rotateY(0deg);
}

.card .back {
  width: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: perspective(200px) rotateY(180deg);
}

.card:hover .front {
  width: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: perspective(500px) rotateY(180deg);
}

.front.tarjeta {
  position: absolute;
}
.back.tarjeta{
  font-size: 20px;
}
.card:hover .back {
  width: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: perspective(100px) rotateY(360deg);
}
.about {
  max-width: 100%;
  text-align: justify;
  padding: 10px;
  font-size: 12px;
  color: black;
}